@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 12px;
  font-weight: 400;
  background-image: linear-gradient(
    to bottom,
    hsl(273, 75%, 66%),
    hsl(240, 73%, 65%)
  );
  background-repeat: repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

#container {
  width: 85%;
  height: 30rem;
  max-width: 780px;
  background-color: #fff;
  padding: 5rem 2rem 2rem;
  border-radius: 2em;
  position: relative;
}

#woman--online-mobile {
  position: absolute;
  width: 70%;
  top: -21%;
  left: 3rem;
}

#woman--online-desktop {
  display: none;
}

#illustration--box {
  display: none;
}

#second__inner--container {
  width: 100%;
  align-items: center;
  overflow: hidden;
}

#faq--label {
  margin-bottom: 0.5rem;
  letter-spacing: 1.8;
  font-size: 3em;
  font-weight: 700;
  text-align: center;
}

.accordion {
  display: flex;
  flex-direction: column;
  padding: 0.7rem 0;
  border-bottom: 1px solid hsl(240, 5%, 91%);
}

.question-row {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* user-select: none; */
}

.question {
  color: hsl(237, 12%, 33%);
  font-size: 0.9rem;
  font-weight: 400;
  transition: color 0.3s;
}

.question-row.open {
  color: hsl(238, 29%, 16%);
  font-weight: 700;
}

.question-row.open + .answer {
  display: block;
  color: hsl(240, 6%, 50%);
}

.question-row.open + .fa--arrow {
  transform: rotateX(180deg);
}

.question:hover {
  color: hsl(14, 88%, 65%);
  cursor: pointer;
}

.question:focus {
  font-weight: 700;
  color: #000;
}

.answer {
  width: 90%;
  font-size: 0.8rem;
  margin: 0.6rem 0;
  line-height: 1.5;
  display: none;
}

.fa--arrow {
  cursor: pointer;
  align-self: center;
}

.rotated {
  transform: rotate(180deg);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 400px) {
  #woman--online-mobile {
    top: -23%;
    left: 3.6rem;
  }
}

@media (min-width: 500px) {
  #woman--online-mobile {
    top: -30%;
    left: 4rem;
  }
  #faq--label {
    margin: 1.5rem 0;
  }
}

@media (min-width: 700px) {
  #container {
    display: flex;
    justify-content: space-between;
    padding: 0 2rem 0 0;
    position: relative;
  }
  #first__inner--container {
    flex-basis: 50%;
    background: url(./images/bg-pattern-desktop.svg);
    background-size: contain;
    background-position-y: 55%;
    background-repeat: no-repeat;
    padding: 4rem 0;
  }
  #second__inner--container {
    flex-basis: 45%;
    padding: 2rem 0;
  }
  #woman--online-mobile {
    display: none;
  }
  #woman--online-desktop {
    display: block;
    width: 100%;
    margin-left: -10%;
    overflow: hidden;
  }
  #illustration--box {
    width: 10rem;
    position: absolute;
    left: -7em;
    top: 38%;
    display: block;
  }
  .accordion {
    padding: 1rem 0;
  }
  #faq--label {
    text-align: left;
    font-size: 2rem;
  }
}
